body {
  color: #555555;
  margin: 0;
  font-family: "Poppins";
  background-color: #fbf7f0;
}
header {
  background-color: #d9e4dd;
  border-bottom: 1px solid #e7e7e7;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
}

h1 {
  font-family: "Sacramento", cursive;
  font-size: 50px;
}

img {
  height: 150px;
  width: 250px;
}

li {
  list-style: none;
}
header a {
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  color: darkgray;
}
section {
  display: flex;
  flex-direction: column;
  margin: 0 25%;
}

.table {
  border: 2px solid;
  margin: 30px 25%;
}

td {
  border: 2px solid;
}

.form {
  padding: 15px;
  border-radius: 2px;
  text-align: center;
}
.character {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 100px;
}
.news {
  border: 2px solid;
}
